{% extends "layout.html" %}

{% block title %}
    Iniciar Sesion
{% endblock %}

{% block contenido %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Login Form -->
          <form action="/iniciar" method="POST">
            <input type="text" id="carnet" class="fadeIn second" name="carnet" placeholder="Numero de carné" required>
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña" required>
            <input type="submit" id="condicion" class="fadeIn fourth" value="Iniciar Sesion">
            <a href="/register" id="condicion" class="myButton fadeIn fourth">Crear cuenta</a>

          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>

        </div>
      </div>

{% endblock %}