{% extends "layout.html" %}

{% block title %}
    Bienvenido a Biblodb
{% endblock %}


{% block links %}
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/busqueda">Buscar</a></li>
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/perfil">Perfil</a></li>
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/logout">Cerrar Sesion</a></li>

{% endblock %}


{% block contenido %}

<div class ="main-container bg-light">


    <div class="row">
        {% for libro in libros_total %}

            <div class="col">
                {{loop.index}}
                <div >
                    <div class="card">
                        <div class="row g-0">
                          <div class="col-5 col-sm-4">
                            <img src="{{libro.imagen}}" class="img-fluid w-100" alt="card-horizontal-image">
                          </div>
                          <div class="col-7 col-sm-8">
                            <div class="card-body">
                              <h5 class="card-title">{{libro.titulo}}</h5>
                                <p class="card-text">{{libro.id_libro}}</p>
                              <p class="card-text">{{libro.autor}}</p>
                              <p class="card-text">{{libro.edicion}}</p>
                              <p class="card-text">{{libro.year}}</p>
                              <p class="card-text">{{libro.clasificacion}}</p>
                              <p class="card-text">{{libro.descriptor}}</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <form >
                </div>
            </div>

        {% endfor %}
    </div>

</div>
    <div class ="main-container">
    <div class="historial">
        <h1 class="h1-perfil">Historial de prestamo</h1>

        {% if historial | length > 0  %}
        <table class="col-12 table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col"> Id Prestamo </th>
                        <th scope="col"> Titulo </th>
                        <th scope="col"> Autor </th>
                        <th scope="col"> Edicion </th>
                        <th scope="col"> año </th>
                        <th scope="col"> Clasificacion </th>
                        <th scope="col"> Fecha </th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in historial %}
                    <tr>
                        <th> {{ a["id_prestamo"] }} </th>
                        <td> {{ a["titulo"] }}</td>
                        <td> {{ a["autor"] }} </td>
                        <td> {{ a["edicion"] }}</td>
                        <td> {{ a["year"] }}</td>
                        <td class="clasificacion"> {{ a["clasificacion"] }}</td>
                        <td> {{ a["fecha_prestamo"] }}</td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>



    {% else %}
        <h2> Su historial de prestamos se encuentra vacio</h2>
    {% endif %}
    </div>

</div>
{% endblock %}