{% extends "layout.html" %}

{% block title %}
    Bienvenido a Biblodb
{% endblock %}

{% block links %}
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/perfil">Perfil</a></li>
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/logout">Cerrar Sesion</a></li>
{% endblock %}


{% block contenido %}

<div class ="main-container">

    <div class="books-container">

    </div>

    <div class="historial">
        <h1 class="h1-perfil">Historial de prestamo</h1>

        {% if historial | length > 0  %}
        <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col"> Id Prestamo </th>
                        <th scope="col"> Titulo </th>
                        <th scope="col"> Autor </th>
                        <th scope="col"> Edicion </th>
                        <th scope="col"> año </th>
                        <th scope="col"> Clasificacion </th>
                        <th scope="col"> Fecha </th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in historial %}
                    <tr>
                        <th> {{ a["id_prestamo"] }} </th>
                        <td> {{ a["libro"] }}</td>
                        <td> {{ a["autor"] }} </td>
                        <td> {{ a["edicion"] }}</td>
                        <td> {{ a["year"] }}</td>
                        <td class="clasificacion"> {{ a["clasificacion"] }}</td>
                        <td> {{ a["fecha_prestamo"] }}</td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>



    {% else %}
        <h2> Su historial de prestamos se encuentra vacio</h2>
    {% endif %}
    </div>

</div>
{% endblock %}