{% extends "layout.html" %}

{% block title %}
    Bienvenido a Biblodb
{% endblock %}


{% block links %}
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/busqueda">Buscar</a></li>
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/perfil">Perfil</a></li>
    <li class="nav-item d-flex align-items-center"><a class="nav-item nav-links" href="/logout">Cerrar Sesion</a></li>

{% endblock %}


{% block contenido %}

<div class ="main-container" style ="overflow-x:hidden;">


    <div class="row justify-content-md-around justify-content-sm-center">
        {% for libro in activos %}

            <!-- <div class="col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3"> -->
                <div class="col-md-4 col-sm-10">
                    <div class="tarjeta">
                        <div class="row g-0">
                          <div class="col-5 col-sm-4">
                            <img src="{{libro.imagen}}" class="img-fluid w-100" alt="card-horizontal-image">


                          </div>
                          <div class="col-7 col-sm-8">
                            <div class="card-body">
                              <h5 class="h1tarjeta">{{libro.titulo}}</h5><br>

                              <p class="textotarjeta">Autor: {{libro.autor}}</p>
                              <p class="textotarjeta">Edicion: {{libro.edicion}}</p>
                              <p class="textotarjeta">Año: {{libro.year}}</p>
                              <p class="textotarjeta">Clasificacion: {{libro.clasificacion}}</p>
                              <p class="textotarjeta">Tema: {{libro.descriptor}}</p>
                              <div>

                                <div class="circulito">

                                </div>
                                <p> Fecha Devolucion: {{libro.fecha_devolucion}}<br>
                                    Dias Restantes:  </p>
                                <a href="/renovar_libro?libro={{libro.id_prestamo}}">Renovar </a>
                                <a href="/devolver_libro?libro={{libro.id_prestamo}}">Devolver </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      <form >
                </div>
            <!-- </div> -->

        {% endfor %}
    </div>

</div>
    <div class ="main-container">
    <div class="historial" style = "overflow-x:auto;">
        <h1 class="h1-perfil">Historial de prestamo</h1>

        {% if historial | length > 0  %}
        <table class="col-12 table table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col"> Id Prestamo </th>
                        <th scope="col"> Titulo </th>
                        <th scope="col"> Autor </th>
                        <th scope="col"> Edicion </th>
                        <th scope="col"> año </th>
                        <th scope="col"> Clasificacion </th>
                        <th scope="col"> Fecha </th>

                    </tr>
                </thead>
                <tbody>
                    {% for a in historial %}
                    <tr>
                        <th> {{ a["id_prestamo"] }} </th>
                        <td> {{ a["titulo"] }}</td>
                        <td> {{ a["autor"] }} </td>
                        <td> {{ a["edicion"] }}</td>
                        <td> {{ a["year"] }}</td>
                        <td class="clasificacion"> {{ a["clasificacion"] }}</td>
                        <td> {{ a["fecha_prestamo"] }}</td>

                    </tr>
                    {%endfor%}

                </tbody>
            </table>



    {% else %}
        <h2> Su historial de prestamos se encuentra vacio</h2>
    {% endif %}
    </div>

</div>
{% endblock %}